<h1 style="text-align: center;">Lost&Found</h1>
<h2>Login</h2>
<form action="/users/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" required><br>
    <label for="password">Password</label>
    <input type="password" name="password" required><br>
    <input type="submit" value="Login">
</form>