<h1 style="text-align: center;">Lost&Found</h1>
<h2>Register</h2>
<form action="/users/register" method="post">
    <label for="fullname">Fullname:</label>
    <input type="text" name="fullname" required><br>
    <label for="email">Email:</label>
    <input type="email" name="email" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" required><br>
    <label for="confirmPassword">Confirm password:</label>
    <input type="password" name="confirmPassword" required><br>
    <label for="contactNumber">Contact number:</label>
    <input type="text" name="contactNumber" required><br>
    <input type="submit" value="Register">
</form>